* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 28px;
}

section {
  border: 1px solid black;
  background-color: #AAAAAA ;
  height: 250px;
  padding: 0px;
 margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  font-size: 16px;
  float: left;



}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  float: left;
}



#title1{
  border: 1px solid black;
  bottom: 0px;
  left: 0px;
  text-align: center;
  float: right;
  font-size: 20px;
 font-family: Helvetica;
 text-align: center;
padding: 1px;
margin-bottom: 10px;
width: 30%;
 color: pink;
  background-color: blue;
}

#title2{
  border: 1px solid black;
  bottom: 0px;
  left: 0px;
  text-align: center;
  float: right;
  font-size: 20px;
 font-family: Helvetica;
 text-align: center;
padding: 1px;
margin-bottom: 10px;
width: 30%;
 color: #7FDBFF;
  background-color: #F012BE;
}


#title3{
  border: 1px solid black;
  bottom: 0px;
  left: 0px;
  text-align: center;
  float: right;
  font-size: 20px;
 font-family: Helvetica;
 text-align: center;
padding: 1px;
margin-bottom: 10px;
width: 30%;
 color: #FF4136 ;
  background-color: #01FF70 ;
}



/********** Large devices only **********/

@media (min-width: 992px) {
  section{
    width: 100%;
    margin:1%;
  }
  #p1 {
    width: 30.333%;
    
  }
  #p2 {
    width: 30.333%;
  
  }
  #p3 {
    width: 30.333%;
     
  }

}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
section{
  width: 100%;
  margin: 1%;
}
      #p1 {
    width: 47%;
 
  }
  #p2 {
    width: 47%;

  }
  #p3 {
    width: 96%;
    
  }
}

p{
  text-align: left;
  padding: 30px;
}

/********** Small devices only **********/
@media (max-width: 767px) {
section{
  width: 100%;
  margin: 1%;
}
   #p1 {
    width: 100%;
    float: left;
    
  }
  #p2 {
     float: left;
    width: 100%;
   
  }
  #p3 {
     float: left;
    width: 100%;
 
  }
}